/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica";
    background-color: #fc5b5b6c;
    /* Remove padding from body so the navbar touches edges */
    padding: 0; 
}

/* menu bar style */
nav {
    background-color: #421414;
    border-style: ridge;
    border-color: #ff0000;
    padding: 2px;
    display: flex; 
    justify-content:  space-between;
    align-items: center;
}

nav a {
    color: rgb(255, 255, 255);
    border-style: none;
    border-color: #ff0000;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0 6px;
    font-weight: regular;
}

nav a:hover {
    color: #ffd700; /* Gold color on hover */
    text-decoration: underline;
}
nav a:first-child {
    margin-right: auto;;
}

/* CONTENT CONTAINER */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: left;
    vertical-align: ;
    color: #000000;
    margin-bottom: 10px;
    margin-top: px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Map container styling */
#map {
    height: 600px;
    width: 100%;
    margin: 20px auto;
    border: 2px solid #333;
}
